// @import "mixin";

@mixin font {
  font-size: 16px;
}
/*字体*/
/**
.fs14 {font-size: 28px}
 */
//@include font;

@for $i from 8 through 32 {
  .fs#{$i} {
    font-size: $i * 1px;
  }
}
/**
.df1 {flex: 1}
 */
@for $i from 1 through 10 {
  .df#{$i} {
    flex: $i;
  }
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb20 {
  margin-bottom: 20px;
}

.w300 {
  width: 300px !important;
}
// 内容盒子
.com-con {
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 8px;
}
